[toolchain]
anchor_version = "0.24.2"

[features]
seeds = false

[programs.devnet]
dregan_staking = "BPzxEKTjP4jguHTxAMchAqSqAkzpbNFH87C4eJpz2zfa"
dregan_nft = "7vSfwTmJCMKbZxZdBKntNgNrLiQysYrTiGjP7HzHjjUZ"

[registry]
url = "https://anchor.projectserum.com"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[workspace]
members = ["programs/dregan-nft", "programs/dregan-staking"]