name: Build and Deploy DREGAN Contracts

on:
  workflow_dispatch:
    inputs:
      priority_fee:
        description: "Priority fee for transactions"
        required: true
        default: "300000"
        type: string

jobs:
  build-staking:
    uses: solana-developers/github-workflows/.github/workflows/reusable-build.yaml@v0.2.9
    with:
      program: "dregan_staking"
      program-id: "Fg6PaFpoGXkYsidMpWTK6W2BeZ7FEfcYkg476zPFsLnS"
      network: "devnet"
      deploy: true
      upload_idl: false
      verify: false
      use-squads: false
      priority-fee: ${{ github.event.inputs.priority_fee }}
    secrets:
      DEVNET_SOLANA_DEPLOY_URL: https://api.devnet.solana.com
      DEVNET_DEPLOYER_KEYPAIR: ${{ secrets.DEPLOY_WALLET }}

  build-nft:
    uses: solana-developers/github-workflows/.github/workflows/reusable-build.yaml@v0.2.9
    needs: build-staking
    with:
      program: "dregan_nft"
      program-id: "Fg6PaFpoGXkYsidMpWTK6W2BeZ7FEfcYkg476zPFsLnS"
      network: "devnet"
      deploy: true
      upload_idl: false
      verify: false
      use-squads: false
      priority-fee: ${{ github.event.inputs.priority_fee }}
    secrets:
      DEVNET_SOLANA_DEPLOY_URL: https://api.devnet.solana.com
      DEVNET_DEPLOYER_KEYPAIR: ${{ secrets.DEPLOY_WALLET }}
